
/*******************
    GENERAL STYLING
********************/

body{
    font-family: Arial, sans-serif;
    font-size: 1vw;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: 4em;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

li{
    list-style-type: none;
    text-align: center;
}


#site-nav li{
    display: inline-block;
    padding-right: 1em;
}

#portfolio-nav li{
    line-height: 1.8em;
}

#copyright {
    font-size: 0.5em;
    text-align: right;
}


/********************
        GRID LAYOUT
********************/

main{
    display: grid;
    grid-template-columns: 1fr 3fr 0.1fr;
    grid-template-areas: 
        "header header"
        "portfolio-nav portfolio-item"
        "portfolio-nav site-nav";
    grid-gap: 1em;
}

h1{
    grid-area: header;
    justify-self: right;
}

#portfolio-nav{
    grid-area: portfolio-nav;
    align-self: center;
}

#portfolio-item{
    grid-area: portfolio-item;
}

#site-nav{
    grid-area: site-nav;
}


